/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 40px;
}

.categories ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.categories li {
    margin-right: 20px;
    cursor: pointer;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.side-widget ul {
    margin-top: 32px; /* Add this line to move the ul content down by 32 pixels */
}

/* Assuming this is how your button styles look */
.side-widget ul li {
    list-style: none;
}

.side-widget ul li a {
    text-decoration: none;
    color: #333;
}

.video-content {
    flex-grow: 1;
}

.subscriptions {
    width: 250px;
    background-color: #fff;
    padding: 20px;
}

.subscriptions h2 {
    font-size: 18px;
}

subscriptions ul {
    list-style: none;
    padding: 0;
}

subscriptions li {
    padding: 10px 0;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
