body {
  font-family: 'YourCustomFont', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  display: flex;
}

.weekly-plan {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 30%;
  margin-right: 20px;
  float: right; /* Align the table to the right */
}

.days .day {
  padding: 8px;
  border: 1px solid #000;
  text-align: center;
}

.left-section {
  width: 70%;
  padding: 20px;
}

.days .day, .days .day[rowsapn="2"] {
  background-color: #ccc;
  font-weight: bold;
}

.weekend-block {
  width: 30%;
  padding: 20px;
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.dotted-lines {
  border-top: 1px dotted #000;
  margin: 10px 0;
}

.text-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #000;
}
