@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font-family */
body {
  font-family: 'Roboto', sans-serif;
}

/* Style the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
}

/* Style the sidebar */
.side-bar {
  height: 100%;
  width: 17%;
  background-color: white;
  overflow-y: hidden;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .search {
    display: none;
  }
}

/* Style the content section */
.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 270px;
  margin-bottom: 30px;
}

.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.details {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

.title a, span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

/* Additional styling for the sidebar links and horizontal lines */
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}

/* Additional styling for the horizontal lines */
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
