/* Reset some default styles */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; /* Adjust the gap as needed */
}

.search {
    display: flex;
    gap: 16px;
}

.categories {
    display: flex; /* Display the categories in a row */
    justify-content: center; /* Center the categories horizontally */
    align-items: center; /* Center the categories vertically */
    flex-direction: row;
    white-space: nowrap;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.categories li {
    margin-right: 20px; /* Add spacing between the categories */
    cursor: pointer;
}

.search input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search button {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.side-widget {
    width: 250px;
    background-color: #fff;
}

.side-widget ul {
    list-style: none;
    padding: 0;
}

.side-widget li {
    padding: 10px 0;
    cursor: pointer;
}

.video-content {
    flex-grow: 1;
}

.subscriptions {
    width: 250px;
    background-color: #fff;
    padding: 20px;
}

.subscriptions h2 {
    font-size: 18px;
}

subscriptions ul {
    list-style: none;
    padding: 0;
}

subscriptions li {
    padding: 10px 0;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
